.main-header {
    background: #039be5;
    height: 72px;
}

h1.ui.header {
    color: #fff;
    position: absolute;
    left: 40px;
    top: 20px;
}

.ui.header>.icon {
    font-size: 1em;
    margin-top: -5px;
}

.ui.card {
    width: 100%;
}

.content-main {
    padding: 40px 40px 0 40px;
}

.content-section {
    position: relative;
}

.ui.table {
    width: 100% !important;
}

.main-header .button {
    position: absolute;
    right: 40px;
    top: 15px
}

.quiz-list .ui.card{
    margin-bottom: 30px;
    height: 120px;
}

.ui.fluid.button {
    text-align: left;
    margin-top: 20px;
}

